.md-sidenav-left {
  background-color: #4DD0E1;
  height: auto !important;
  min-height: 100vh;
}

.tool-button{
  font-size:20px !important;
  font-weight: 500 !important;
}

#GAMRtitle {
  align-self:center;
  color:#FFFEFA;
  font-size:40px;
  font-weight:bold
}

.sidenav-title{
  color:#FFFEFA;
  font-size: 20px !important;
  align: center;
  font-weight:500 !important;
}

.logo{
  align-self: center;
}

.tool-bar{
  background-color: #00B5CD !important;
}

.current-game{
  width: 100%;
  font-size: 18px;
  color: #FFFEFA !important;
  text-align: left !important;
}

#new-game{
  background-color: #00B5CD;
  color: #FFFEFA;
  margin: 30px;
  font-size: 22px;
}

.content-text{
  color:black;
}

.content-left{
  border-left-width:30px;
}

.content-caption{
  color:black;
  font-size: 24px;
  font-weight: bold;
}

.content-right{
  text-align: right;
}

