#home {
  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
  }
}

#signupButton {
  margin-top: -50em;
  background-color: #00B5CD;
  color: #FFFEFA;
}

#loginButton {
  margin-top: -70em;
  background-color: #00B5CD;
  color: #FFFEFA;
}
