<div>
<!-- <md-slider ng-model="gameType" -->
<div class="row" layout="row">
    <tg-leaderboard players="game.users" tasks="game.tasks" events="game.events"/>
    <div class="col s9">
        <table class='table responsive' style="width:80%; display:inline-block">
            <caption style="color:black;font-size:24px; font-weight:bold">{{game.name}}</caption>
            <col width="3%">
            <col width="30%">
            <col width="60%">
            <col width="7%">
            <thead style="color:black">
                <tr>
                    <th></th>
                    <th>Task</th>
                    <th>Description</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="task in game.tasks" style="color:black" ui-sref="u.task({taskId: task.id})">
                    <td></td>
                    <td style="border-left-width:30px">{{ task.name }}</td>
                    <td>{{task.description}}</span>
                    </td>
                    <td>{{task.points}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<md-divider></md-divider>
<md-container layout="row" layout-align="center center">
    <tg-newsfeed users="game.users" tasks="game.tasks" events="game.events"/>
</md-container>
</div>
