 <script>
var socket = io.connect();

    socket.on('message', function(data){
    });

</script>

<main layout="row">
<md-container layout="column" flex="75" layout-xs="row">
    <md-content id="content" style="color:#FFFEFA">
    <md-card>
    <md-card-content>
        <div layout="row" layout-xs="column">
            <div flex style="color:black;font-size:24px; font-weight:bold" class="align-center">
                {{game.name}}
            </div>
        </div>
        <div layout="row" layout-xs="column">
            <div flex class="align-center">
                Pledge: ${{game.pledge}}
            </div>
            <div flex class="align-center">
                Start: {{game.start | date: 'MM/dd HH:mm'}}
            </div>
            <div flex class="align-center">
                End: {{game.end | date: 'MM/dd HH:mm'}}
            </div>
        </div>
    </md-card-content>
    </md-card>
    </md-content>

    <md-content>
    <md-card>
    <md-card-content>
        <table class='table responsive' style="width:100%; display:inline-block">
            <col width="3%">
            <col width="30%">
            <col width="60%">
            <col width="7%">
            <thead style="color:black">
                <tr>
                    <th></th>
                    <th>Task</th>
                    <th>Description</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="task in game.tasks" class="content-text" ui-sref="u.task({task: task})">
                    <td></td>
                    <td class="content-left">{{ task.name }}</td>
                    <td>{{task.description}}</td>
                    <td>{{task.points}}</td>
                </tr>
            </tbody>
        </table>
    </md-card-content>
    </md-card>
    </md-content>

    <md-content ng-show="game.events.length">
    <md-card>
    <md-card-content>
        <div layout="row" layout-xs="column">
            <div flex>
                <nvd3 options="pieChartOptions" data="game.pieChartData">
                </nvd3>
            </div>
            <div flex>
                <nvd3 options="barChartOptions" data="game.barChartData">
                </nvd3>
            </div>
        </div>
    </md-card-content>
    </md-card>
    </md-content>

    <md-content ng-show="game.events.length">
    <md-card>
    <md-card-content>
        <tg-newsfeed users="game.users" tasks="game.tasks" events="game.events">
        </tg-newsfeed>
    </md-card-content>
    </md-card>
    </md-content>
</md-container>

<md-container layout="column" flex="25" layout-xs="row">
    <md-content id="content" style="color:#FFFEFA">
    <md-card>
    <md-card-content ng-if="game.status === 'Active'">
        <tg-leaderboard players="game.users" tasks="game.tasks" events="game.events">
        </tg-leaderboard>
    </md-card-content>
    <md-card-content ng-if="game.status !== 'Active'">
        <div style="margin-left:9px" class="center-align">
            <p style="color:black;font-size:24px; font-weight:bold">Players</p>
        </div>
        <div ng-show="confirmed.length">
            <div style="margin-left:9px">
                <p style="font-weight:bold">Locked</p>
            </div>
            <div>
                <ul ng-repeat="player in confirmed">
                    <li layout="row" style="padding-left:10px">
                        {{player.firstName + ' ' + player.lastName}}
                    </li>
                </ul>
            </div>
        </div>
        <div ng-show="unconfirmed.length">
            <div style="margin-left:9px">
                <p style="font-weight:bold">Joined</p>
            </div>
            <div>
                <ul ng-repeat="player in unconfirmed">
                    <li layout="row" style="padding-left:10px">
                        {{player.firstName + ' ' + player.lastName}}
                    </li>
                </ul>
            </div>
        </div>
        <div ng-show="invited.length">
            <div style="margin-left:9px">
                <p style="font-weight:bold">Invited</p>
            </div>
            <div>
                <ul ng-repeat="player in invited">
                    <li layout="row" style="padding-left:10px">
                        {{player.firstName + ' ' + player.lastName}}
                    </li>
                </ul>
            </div>
        </div>
    </md-card-content>
    </md-card>
    </md-content>

<!--     <md-content>
    <md-card>
    <md-card-content>
        <div ng-show="!openMessages" ng-click="openMessageBox()"><b>Open Messages</b></div>
        <div ng-show="openMessages">
            <div class="right-align" style="font-weight:bold" ng-click="openMessageBox()">X</div>
            <ul> <b>Messages</b>
                <li ng-repeat="line in content">{{line.username}}: {{line.message}} ({{line.createdAt | date: 'HH:mm'}})</li>
            </ul>
            <div id="chat-input">
            <form>
            <input id="m" ng-model="message" name="message" autocomplete="off" /><button ng-click="sendMessage()">Send</button>
            </form>
            </div>
        </div>
    </md-card-content>
    </md-card>
    </md-content> -->

    <md-content>
    <md-card style="background-color:#4DD0E1; color:#FFFEFA;">
    <md-card-content>
        <div layout=row>
            <div flex layout=column class="left-align"><b>Messages</b></div>
            <div flex layout=column ng-show="!openMessages" class="right-align" ng-click="openMessageBox()">
                <b>Open</b>
            </div>
            <div flex layout=column ng-show="openMessages" class="right-align" ng-click="openMessageBox()">
                <b>Close</b>
            </div>
        </div>
    </md-card-content>
    </md-card>
    </md-content>

    <md-content style="margin-top:-15px;">
    <md-card>
    <md-card-content ng-show="openMessages" style="margin-top:-25px;">
            <ul>
                <li ng-repeat="line in content">{{line.username}}: {{line.message}} ({{line.createdAt | date: 'HH:mm'}})</li>
            </ul>
            <div id="chat-input">
            <form>
            <input id="m" ng-model="message" name="message" autocomplete="off" /><button ng-click="sendMessage()">Send</button>
            </form>
            </div>
        </div>
    </md-card-content>
    </md-card>
    </md-content>


</md-container>
</main>
