<div>
<!-- <md-slider ng-model="gameType" -->
<div class="row" layout="row">
    <md-container flex="100">
    <md-card>
        <md-card-header>
            <md-card-header-text layout-align="center center" class="md-title">{{ game.name }}</md-card-header-text>
        </md-card-header>
    <md-card-content>
    </md-card-content>
    </md-card>
    </md-container>
</div>
<div class="row" layout="row">
    <md-container flex="80">
        <md-content>
        <md-card>
        <md-card-header>
            <md-card-header-text layout-align="center center" class="md-title">Tasks</md-card-header-text>
        </md-card-header>
        <md-card-content>
        <table>
            <col width="3%">
            <col width="30%">
            <col width="60%">
            <col width="7%">
            <thead style="color:black">
                <tr>
                    <th></th>
                    <th>Task</th>
                    <th>Description</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="task in game.tasks" class="content-text" ui-sref="u.task({task: task})">
                    <td></td>
                    <td class="content-left">{{ task.name }}</td>
                    <td>{{task.description}}</span>
                    </td>
                    <td>{{task.points}}</td>
                </tr>
            </tbody>
        </table>
        </md-card-content>
        </md-card>
        </md-content>
    </md-container>
    <md-container flex="20">
    <md-card style="position:fixed">
    <md-card-header>
        <md-card-header-text layout-align="center center" class="md-title">Leaderboard</md-card-header-text>
    </md-card-header>
    <md-card-content>
    <tg-leaderboard players="game.users" tasks="game.tasks" events="game.events"/>
    </md-card-content>
    </md-card>
    </md-container>
</div>
<div class="row" layout="row">
<md-container layout="row" layout-align="center center" flex="80">
    <md-content>
    <md-card>
    <md-card-header>
        <md-card-header-text layout-align="center center" class="md-title">Newsfeed</md-card-header-text>
    </md-card-header>
    <md-card-content>
    <tg-newsfeed users="game.users" tasks="game.tasks" events="game.events"/>
    </md-card-content>
    </md-card>
    </md-content>
</md-container>
</div>
</div>
