<md-dialog aria-label="Signup" ng-controller="SignupCtrl" ng-cloak>

    <form name="signupForm" data-ng-submit="handleSubmit()">

        <md-toolbar style="background-color:#00B5CD">
            <div class="md-toolbar-tools" >
                <h2>Sign Up</h2>
                <span flex></span>
                <md-button type="button" class="md-icon-button" ng-click="handleCancel(); $event.stopPropagation();">
                    <md-icon md-svg-icon="navigation:close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Email:</label>
                    <input ng-model="email" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Password:</label>
                    <input ng-model="password" type="password" required>
                    <div style="color:red">
                        <span ng-show="{{error !== ''}}">{{error}}</span>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button style="background-color:#00B5CD" type="submit" class="md-primary"
                       ng-class="{'md-raised md-hue-1': (signupForm.$dirty && signupForm.$valid) }"
                       aria-label="OK">
                OK
            </md-button>
            <md-button type="button" ng-click="handleCancel(); $event.stopPropagation();"
                       aria-label="Cancel">
                Cancel
            </md-button>
        </md-dialog-actions>

    </form>

</md-dialog>
