<main layout="row">
<md-container layout="column" flex="75" layout-xs="row">
    <md-content id="content" style="color:#FFFEFA">
    <md-card>
    <md-card-content>
        <div layout="row">
            <div flex style="color:black;font-size:24px; font-weight:bold">
                {{task.name}}
            </div>
        </div>
        <div layout="row">
            <div flex>
                {{task.game}}
            </div>
        </div>
        <div layout="row">
            <div flex>
                Points: {{task.points}}
            </div>
        </div>
        <div layout="row">
            <div flex>
                {{task.description}} <br>
            </div>
        </div>
        <div layout="row">
            <md-button type="submit" ng-click="showConfirm($event)" style="color:#FFFEFA;background-color:#00B5CD;display:block;margin:0 auto; margin-top:20px">Complete Task</md-button>
        </div>
    </md-card-content>
    </md-card>
    </md-content>

    <md-content ng-show="events.length">
    <md-card>
    <md-card-content>
        <table class='table responsive' style="width:100%">
            <caption class="content-caption">Recent History</caption>
            <col width="3%">
            <col width="45%">
            <col width="45%">
            <col width="7%">
            <thead style="color:black">
                <tr>
                    <th></th>
                    <th>Time</th>
                    <th>User</th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-repeat="event in events | orderBy:createdAt:true | limitTo:5">
                <tr>
                    <td></td>
                    <td>{{ event.createdAt | date: 'MM/dd HH:mm'}}</td>
                    <td>{{ event.name }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </md-card-content>
    </md-card>
    </md-content>
</md-container>

<md-container layout="column" flex="25" xs-layout="row">
    <md-content ng-show="events.length">
    <md-card>
    <md-card-content>
        <table class='table responsive' style="width:100%">
            <caption class="content-caption">Recent History</caption>
            <col width="3%">
            <col width="45%">
            <col width="45%">
            <col width="7%">
            <thead style="color:black">
                <tr>
                    <th></th>
                    <th>Time</th>
                    <th>User</th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-repeat="event in events | orderBy:createdAt:true | limitTo:5">
                <tr>
                    <td></td>
                    <td>{{ event.createdAt  | date: 'MM/dd HH:mm'}}</td>
                    <td>{{ event.name }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </md-card-content>
    </md-card>
    </md-content>
</md-container>
</main>


