<div style="line-height=20px; color:#00B5CD" class="center-align" >
        <div style="font-size:20px">{{task.name}} </div>
            <p style="font-size:15px">Description: {{task.description}}<br> Points: {{task.points}} {{eventTest}}</p>
        </div>
        <br>
        <div class="center-align"flex id="content">
                 <md-button class="md-primary md-raised"  ng-click="showConfirm($event)" style="align: center; color:#FFFEFA; background-color:#00B5CD; bottom: 5px; right: 5px;">complete task</md-button>
            <!-- <ui-view></ui-view> -->
        </div>
            <h4 class="center-align"style="color:#00B5CD">Recent history</h4>
           <table class="center-align" align="center" style="max-width: 300px">
        <thead>
          <tr>
              <th data-field="id" style="font-size:20px; color:#00B5CD" class="left-align">Completed On</th>
              <th data-field="name" style="font-size:20px; color:#00B5CD" class="right-align" ng-click="testEventObj()"}>Player</th>
          </tr>
        </thead>

        <tbody ng-repeat="event in events | orderBy:createdAt:true | limitTo:5">
          <tr>
            <td style="font-size:15px; color:#00B5CD" class="left-align">{{event.createdAt}}</td>
            <td style="font-size:15px; color:#00B5CD" class="right-align">{{event.name}}</td>
          </tr>
        </tbody>
      </table><!-- 
        <main class="md-padding" layout="column" flex>  -->
            
       <!--  </main> -->
    </div>