<div ng-controller="HomeCtrl" style="position:relative; width:100%">
  <md-toolbar layout="row" class="md-whiteframe-z3" style="padding:0px;margin:0px;background-color:#00B5CD">
    <svg style="margin-top: 10px; margin-left: 10%" class="center-align" version="1.0" xmlns="http://www.w3.org/2000/svg" width="48pt" height="48pt" viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet">
      <metadata></metadata>
      <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#FFFEFA" stroke="none">
        <path d="M2280 4629 c-745 -52 -1402 -296 -1756 -653 -533 -538 -295 -1219 560 -1603 866 -389 2170 -390 3031 0 562 254 870 634 841 1037 -41 575 -745 1050 -1761 1189 -285 39 -626 50 -915 30z m584 -389 c833 -57 1498 -345 1679 -727 28 -60 32 -78 32 -153 0 -74 -4 -93 -31 -150 -62 -130 -156 -230 -318 -338 -539 -361 -1544 -498 -2396 -326 -595 120 -1034 367 -1173 661 -28 60
  -32 78 -32 153 0 75 4 93 32 153 224 473 1202 795 2207 727z" />
        <path d="M2305 3909 c-450 -37 -846 -155 -1045 -312 -169 -133 -183 -298 -39 -438 l53 -51 12 48 c80 315 1250 478 2099 294 55 -12 148 -39 207 -60 195 -69 300 -145 323 -235 l11 -47 53 51 c160 156 126 330 -92 475 -187 124 -490 217 -853 262 -154 18 -573 26 -729 13z" />
        <path d="M257 2725 c-4 -17 -9 -70 -13 -120 -41 -578 656 -1106 1676 -1269 265 -42 371 -50 680 -50 309 0 415 8 680 50 1075 172 1781 745 1667 1354 l-12 65 -28 -72 c-40 -102 -137 -244 -231 -337 -345 -344 -923 -573 -1648 -652 -211 -24 -647 -24 -856 0 -679 75 -1210 271 -1576 583 -141 121 -255 280 -323 453 l-10 25 -6 -30z" />
        <path d="M257 1925 c-4 -17 -9 -70 -13 -120 -41 -578 656 -1106 1676 -1269 265 -42 371 -50 680 -50 309 0 415 8 680 50 1075 172 1781 745 1667 1354 l-12 65 -28 -72 c-40 -102 -137 -244 -231 -337 -345 -344 -923 -573 -1648 -652 -211 -24 -647 -24 -856 0 -679 75 -1210 271 -1576 583 -141 121 -255 280 -323 453 l-10 25 -6 -30z" />
      </g>
    </svg>
    <h3 style="margin-left: 10px; color:#FFFEFA"class="navbar title">GAMR</h3>
    <span flex></span>
    <md-button class="md-primary" style="background-color:#00B5CD; color:#FFFEFA; font-size: 20px; margin-right: 10%" ng-click="login()"> Log In </md-button>
  </md-toolbar>
  <!-- <script>
    $(document).ready(function() {
      $('.carousel.carousel-slider').carousel({full_width: true});
    });
  </script>
  <div class="carousel carousel-slider center" ng-controller="HomeCtrl">
    <div class="carousel-fixed-item center"></div>
    <a class="carousel-item" href="#one!"><img src="background1.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="background2.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="background3.jpg"></a>
    <div class="carousel-fixed-item center"></div> -->
  <div style="position:relative;height:70vh">
    <div id="main-image">
      <div style="display:block; margin-left: auto; margin-right:auto;margin-top: 10vh" class="md-primary md-raised">
        <h1 class="header center teal-text text-lighten-2" style="color: #FFFEFA !important">Gamify everything.</h1>
      </div>

      <div style="display:block; margin-left: auto; margin-right:auto; margin-top: 40px" class="md-primary md-raised">
        <h5 class="header center light" style="color: #FFFEFA !important">A universal gamification app for everyday life. </h5>
      </div>

      <md-button style="display:block; margin-left: auto; margin-right:auto; margin-top: 10%; font-size: 20px; background-color:#00B5CD;min-height:60px; min-width:120px; color:#FFFEFA" class="md-raised" ng-click="signup()"> Sign Up </md-button>
    </div>
  </div>

  <footer>
    <div style="min-height:60px; min-width:100%; background-color:#00B5CD">
    </div>
    <div style="min-height:120px; min-height:25vh; min-width:100%; background-color:#00D4EB">
      <div class="center" style="color:#FFFEFA; padding-top:60px"> © 2016 GAMR
      <div>
    </div>
  </footer>

</div>

