<ui-view>
</ui-view>
<main class="md-padding" layout="row" flex>
    <md-content flex id="content" style="color:#FFFEFA">
        <div class="fade-view" ui-view="">
            <div class="col s12">
                <form name="newGameForm" style="color:black">
                    <div class="row">
                        <div class="col s3">
                        </div>
                        <div class="col s6">
                            <md-input-container class="md-block" layout-gt-sm="row">
                                <label class="align-center">Game Name</label>
                                <input name="game.name" ng-model="comm.game.name" required>
                                <div ng-messages="newGameForm.gameName.$error">
                                    <div ng-message="required">This field is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col s3">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s3">
                        </div>
                        <div class="col s3" flex>
                            <input type="date" class="datepicker" ng-model="comm.game.start">
                        </div>
                        <div class="col s3">
                            <input type="date" class="datepicker" ng-model="comm.game.end">
                        </div>
                        <div class="col s3">
                        </div>
                    </div>
                    <div class="row" ng-repeat="task in comm.tasks">
                        <div class="col s3">
                            <md-input-container class="md-block" layout-gt-sm="row">
                                <label>Task Name</label>
                                <input name="taskName" ng-model="task.name" required>
                                <div ng-messages="newGameForm.task.name.$error">
                                    <div ng-message="required">This field is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col s6">
                            <md-input-container class="md-block" layout-gt-sm="row">
                                <label>Description</label>
                                <textarea ng-model="task.description" md-maxlength="250" rows="2" md-select-on-focus></textarea>
                                <div ng-messages="newGameForm.task.description.$error">
                                    <div ng-message="required">This field is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col s2">
                            <md-input-container class="md-block" layout-gt-sm="row">
                                <label>Points</label>
                                <input name="taskPoints" ng-model="task.points" required>
                                <div ng-messages="newGameForm.task.points.$error">
                                    <div ng-message="required">This field is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col s1">
                            <md-button style="color:#00B5CD" ng-click="removeTask(task.id)">Remove</md-button>
                        </div>
                    </div>
                    <div class="row">
                        <md-button style="color:#00B5CD" ng-click="addTask()">Add Task</md-button>
                    </div>
                    <div style="margin-left:9px">
                    <h4>Players</h4>
                    </div>
                    <div layout="row">
                    <ul style="color:black; margin-left:9px" ng-repeat="player in comm.players.invited">
                    <li><p>{{player.username}}{{$last? '' : ', '}}</p></li>
                    </ul>
                    </div>
                    <div class="row">
                    <div class="col s3">
                    <md-autocomplete style="color:black" md-selected-item="selectedItem" md-search-text="searchText" md-items="item in foundMatches" md-item-text="item.username" md-search-text-change="searchText.length>2 ? getMatches(searchText):null" md-selected-item-change="addPlayer(selectedItem); searchText='';">
                      <md-item-template>
                        <span md-highlight-text="searchText">{{item.username}}</span>
                      </md-item-template>
                      <md-not-found>
                        No matches found.
                      </md-not-found>
                    </md-autocomplete>
                    </div>
                </div>
                    <div>
                        <md-button type="submit" ng-click="create()" style="color:#FFFEFA;background-color:#00B5CD">Create Game</md-button>
                    </div>
                </form>
            </div>
        </div>
    </md-content>
</main>
