<ui-view>
</ui-view>

<main class="md-padding">
<form name="newGameForm" style="color:black;width:100%"  layout="row">

<md-container layout="column" flex="75" xs-layout="row">
    <md-content id="content" style="color:#FFFEFA">
    <md-card>
    <md-card-content>
        <div layout="row" layout-xs="column">
            <div flex>
                <md-input-container class="md-block" flex>
                    <label class="align-center">Game Name</label>
                    <input name="comm.name" ng-model="comm.name" required>
                    <div ng-messages="newGameForm.name.$error">
                        <div ng-message="required">This field is required.</div>
                    </div>
                </md-input-container>
            </div>
            <div flex>
                <md-input-container class="md-block" flex>
                    <label class="align-center">Pledge</label>
                    <input name="pledge" ng-model="comm.pledge">
                    <div ng-messages="newGameForm.pledge.$error">
                        <div ng-message="required">Must be a dollar amount.</div>
                    </div>
                </md-input-container>
            </div>
        </div>
        <div layout="row" layout-xs="column">
            <div flex>
                    <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime" placeholder="Start" min-date="date" ng-model="comm.start" class=" md-input">
            </div>
            <div flex>
                    <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime" placeholder="End" min-date="date" ng-model="comm.end" class=" md-input">
            </div>
        </div>
    </md-card-content>
    </md-card>
    <md-card>
    <md-card-content>
        <div ng-repeat="task in comm.tasks">
            <div layout="row">
                <div flex="50">
                    <md-input-container class="md-block">
                        <label>Task Name</label>
                        <input name="taskName" ng-model="task.name" required>
                        <div ng-messages="newGameForm.task.name.$error">
                            <div ng-message="required">This field is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div flex>
                    <md-input-container class="md-block">
                        <label>Points</label>
                        <input name="taskPoints" ng-model="task.points" required>
                        <div ng-messages="newGameForm.task.points.$error">
                            <div ng-message="required">This field is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div flex="10" class="center-align">
                    <md-button style="color:#00B5CD" ng-click="removeTask(task.elemId)">REMOVE</md-button>
                </div>
            </div>
            <div layout="row">
                <div flex>
                    <md-input-container class="md-block">
                        <label>Description</label>
                        <textarea ng-model="task.description" md-maxlength="250" rows="1" md-select-on-focus></textarea>
                    </md-input-container>
                </div>
            </div>
        </div>
        <div layout="row">
            <md-button style="color:#00B5CD" ng-click="addTask()">Add Task</md-button>
        </div>
    </md-card-content>
    </md-card>
    </md-content>
</md-container>

<md-container layout="column" flex="25" xs-layout="row">
    <md-content id="content" style="color:#FFFEFA">
    <md-card>
    <md-card-content>
        <div style="margin-left:9px" class="center-align">
            <h4>Players</h4>
        </div>
        <div style="margin-left:9px">
            <h5>Joined</h5>
        </div>
        <div>
            <ul ng-repeat="player in comm.users.unconfirmed">
                <li layout="row" style="padding-left:10px">
                    {{player.username}}
                </li>
            </ul>
        </div>
        <div style="margin-left:9px">
            <h5>Invited</h5>
        </div>
        <div>
            <ul ng-repeat="player in comm.users.invited">
                <li layout="row" style="padding-left:10px">
                    {{player.username}}
                </li>
            </ul>
        </div>
        <div layout="row">
            <md-autocomplete style="color:black; width: 100%" md-selected-item="selectedItem" md-search-text="searchText" md-items="item in foundMatches" md-item-text="item.username" md-search-text-change="searchText.length>2 ? getMatches(searchText):null" md-selected-item-change="addPlayer(selectedItem); searchText='';">
                <md-item-template>
                    <span style="color:black">{{item.username}}</span>
                </md-item-template>
                <md-not-found>
                    No matches found.
                </md-not-found>
            </md-autocomplete>
        </div>
        <div class="center-align">
            <md-button type="submit" ng-click="lock()" style="color:#FFFEFA;background-color:#00B5CD">Lock Game</md-button>
        </div>
    </md-card-content>
    </md-card>
    </md-content>
</md-container>

</form>
</main>

